<div class="card">
    <div class="card-body">
        <div>
            By completing this wizard, you are providing your consent that the data related to your machine and
            your
            credentials will be collected. This information is essential for the functionality of our services.
            It
            will be securely transmitted and stored in our cloud services. Please refer to our
            Privacy Policy for <a href="https://www.ulendo.io/privacy-policy">more details</a>.
        </div>

        <div style="margin-top: 20px;">
            To find out more about how to use this plugin, visit the
            <a href="https://ulendo.webflow.io/solutions/ulendo-caas#caas-form">Ulendo website</a>.
        </div>
    </div>
</div>