<script charset="utf-8" src='plugin/autocal/static/plotly.js'></script>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ulendo Calibration as a Service</h5>
    <p class="card-text">Welcome to Ulendo's Calibration as a Service Plugin</p>
	<p class="card-text">This plugin was designed to help users to automatically tune the vibration compensation algorithms 
	contributed to the Marlin Project.</p>
	<p class="card-text">This plugin can help to optimize the performance of your printer and help you to achieve higher lower print 
	times by improving printer reliability at higher speeds and accelerations</p>
  </div>
</div>


<div id='acclrmtr_live_data_graph'><!-- Plotly chart will be drawn inside this DIV --></div>

<button id='acclrmtr_connect_btn' data-bind="click: onClickAcclrmtrConnectBtn">{{ _('Connect Accelerometer') }}</button>

<div class="calibrate_axis_btn_group">
    <button id='calibrate_x_axis_btn' data-bind="click: onClickCalibrateXAxisBtn">{{ _('Calibrate X') }}</button>
    <button id='calibrate_y_axis_btn' data-bind="click: onClickCalibrateYAxisBtn">{{ _('Calibrate Y') }}</button>
</div>

<script>
  function onClickSelectZvDropDownBtn() {
    if (( document.getElementById("acclrmtr_connect_btn").innerText == 'Accelerometer Connected') &&
       ( document.getElementById("calibrate_x_axis_btn").innerText == 'X Calibration Ready' ||
         document.getElementById("calibrate_y_axis_btn").innerText == 'Y Calibration Ready' )){
      document.getElementById("select_calibration_div").classList.toggle("show");
    }
    }
</script>

<div id= 'zv_shapers_div_block'>
  <button id='zv_shapers_dropDown_btn' onclick ="onClickSelectZvDropDownBtn()">ZV Shapers</button>
  <div id =select_calibration_div class="select_calibration_btn_group">
   <button id='select_zv_cal_btn' data-bind="click: onClickSelectZvCalBtn" class="is_select_btn">{{ _('ZV-IS') }}</button>
   <button id='select_zvd_cal_btn' data-bind="click: onClickSelectZvdCalBtn" class="is_select_btn">{{ _('ZVD-IS') }}</button>
   <button id='select_mzv_cal_btn' data-bind="click: onClickSelectMzvCalBtn" class="is_select_btn">{{ _('MZV-IS') }}</button>
   <button id='select_ei_cal_btn' data-bind="click: onClickSelectEiCalBtn" class="is_select_btn">{{ _('EI-IS') }}</button>
   <button id='select_ei2h_cal_btn' data-bind="click: onClickSelectEi2hCalBtn" class="is_select_btn">{{ _('2HEI-IS') }}</button>
   <button id='select_ei3h_cal_btn' data-bind="click: onClickSelectEi3hCalBtn" class="is_select_btn">{{ _('3HEI-IS') }}</button>
  </div>
</div>

<script charset="utf-8" src='plugin/autocal/static/plotly.js'></script>
<div id='calibration_results_graph'><!-- Plotly chart will be drawn inside this DIV --></div>

<div id="vtol_group">
  <span class="slidercaption">Vibration tolerance:</span>
  <div class="slidercontainer"><input type="range" min="0" max="100" value="5" class="slider" id="vtolslider">
  </div>
</div>

<div class="manage_calibration_btn_group">
<button id='load_calibration_btn' data-bind="click: onClickLoadCalibrationBtn">{{ _('Load Calibration') }}</button>
<button id='save_calibration_btn' data-bind="click: onClickSaveCalibrationBtn">{{ _('Save to EEPROM') }}</button>
</div>

<script charset="utf-8" src='plugin/autocal/static/plotly.js'></script>
<div id='verification_results_graph'><!-- Plotly chart will be drawn inside this DIV --></div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">More Informaiton</h5>
    <p class="card-text">This is only compatible with versions of marlin >2.3.1. <a href="#">Click here</a>
	get the latest marlin firmware update for your printer. Find out more about our advance solutions for 
	additive manufacturing visit us @ <a href="https://www.ulendo.io/">Ulendo.io</a></p>    
		
  </div>
</div>

<div id='Summary'>
  <h5> Summary </h5>
  <pre id='status'> </pre>
</div>