<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.autocal.url">
        </div>
        <label class="control-label">{{ _('ORG') }}</label>
        <div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.autocal.ORG">
        </div>
        <label class="control-label">{{ _('ACCESSID') }}</label>
        <div class="controls">            
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.autocal.ACCESSID">
        </div>
        <label class="control-label">{{ _('MACHINEID') }}</label>
        <div class="controls">            
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.autocal.MACHINEID">
        </div>
    </div>
</form>